/*BASIC CSS*/
label {
	margin-bottom: 0px;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

.legend {
	padding: 20px;
	border: 1px solid #000;
	margin-bottom: 50px;
}

.legend h4 {
	margin-bottom: 50px;
}

.blogContent .mainbar>:not(:last-child) {
	border-bottom: 1px solid #fff !important;
}

svg.line {
	width: 22px;
	height: 22px;
}
.hyperlink:hover {
	color: #44475b;
}